{% extends "base.html" %}

{% block title %}Verify Your Meetyfi Account{% endblock %}

{% block header %}Welcome to Meetyfi!{% endblock %}

{% block content %}
<p>Hello!</p>

<p>Thank you for signing up with Meetyfi. To complete your registration, please use the verification code below:</p>

<div class="verification-code">
    {{ verification_code }}
</div>

<p>This code will expire in 10 minutes for security reasons.</p>

<p>If you didn't create an account with Meetyfi, you can safely ignore this email.</p>

<p>Best regards,<br>
The Meetyfi Team</p>
{% endblock %}
